html, body {
    font-family: Signika, Roboto, sans-serif;
    background-color: rgb(241, 233, 219);
    background-size: cover;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#header {
    background-color: rgba(56,88,125,255);
    font-size: 2em;
    font-weight: 700px;
    text-align: center;
    color: white;
    padding: 3vh;
}

#header a {
    padding: 30px;
    text-decoration: none;
    color: white;
    top: 30px;
}

#navbar {
    overflow: hidden;
    background-color: rgb(2, 62, 125);
    border: 3px solid black;
    position: sticky;
    top: 0;
}

#navbar a.right {
    float: right;
    border-left: 1px solid black;
}

#navbar a {
    float: left;
    display: block;
    background-color: rgb(2, 62, 125);
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    border-right: 1px solid black;
}

#navbar a:hover {
    background-color: goldenrod;
}

#navbar a.test {
    background-color: goldenrod;
}

/* #navbar a.active {
    background-color: crimson;
} Can't get working without active webpage link womp womp */

#main {
    display: flex;
    flex-wrap: nowrap;
}

#sidebar {
    font-size: 1.5em;
    font-weight: 400px;
    flex: 35%;
    background-color: rgb(151, 157, 172);
    padding: 40px;
    text-align: center;
    border-right: 5px solid black;
}

#content {
    font-size: 2em;
    font-weight: 400px;
    flex: 65%;
    background-color: rgb(230, 230, 230);
    padding: 30px;
    text-align: center;
}

img {
    border: 5px solid black;
}

#sidebar img {
    height: 70%;
    width: 70%;
}

#content img {
    height: 70%;
    width: 70%;
}

#sidebarinfo {
    padding: 50px;
}

#sidebarinfo a {
    text-decoration: none;
    font-size: x-large;
    color: black;
}

input {
    background-color: white;
    border: 2px solid rgb(151, 157, 172);
}